
<ejs-grid [dataSource]='data' [allowPaging]='true' [allowSorting]='true' [allowGrouping]='true' [allowFiltering]='true' [editSettings]="editSettings" [pageSettings]='pageSettings'>
      <e-columns>
            <e-column field="id" header-Text='Id'></e-column>
            <e-column field="name" header-Text='Name'></e-column>
            <e-column field="userName" header-Text='User Name'></e-column>
            <e-column field="phoneNumber" header-Text='Phone Number'></e-column>
            <e-column field="email" header-Text='Email'></e-column>
            <e-column field="address" header-Text='Address'></e-column>
      </e-columns>
</ejs-grid>
